<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=320, user-scalable=no">
    <title>Настройка балансира</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 class="col font-weight-light">Настройка балансира</h2>

<br>
    <form class="form-group col" th:action="@{/admin/addEvent}" method="POST">
        <div class="form-row">
            <label class="col-sm-2">Название мероприятия</label>
            <input type="text" class="form-control col-sm-2" name="event" placeholder="Успешный успех">
        </div>
        <div class="form-row">
            <label class="col-sm-2">Суффикс для ссылки на мероприятие</label>
            <input type="text" class="form-control col-sm-2" name="eventLink" placeholder="uspeh">
        </div>
        <div class="form-row">
            <label class="col-sm-2">Дата мероприятия</label>
            <input type="text" class="form-control col-sm-2" name="date" placeholder="27.08.2021">
        </div>
        <div class="form-row">
            <label class="col-sm-2">Кол-во пользователей на одного бота</label>
            <input type="number" class="form-control col-sm-2" name="peopleInBot" placeholder="не более 30">
        </div>
        <div class="form-row">
            <label class="col-sm-2">Боты через запятую без @ и пробелов</label>
            <textarea type="text" name="bots" class="form-control col-sm-2" placeholder="botUspeh0,botUspeh1,botUspeh2"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Добавить суффикс на url</button>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <br>
<!--    <form class="form-group col" th:action="@{/getConfig}" method="GET">-->
<!--        <button class="btn btn-info">Текущая конфигурация балансира</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <form class="form-group col" th:action="@{/deleteConfig}" method="POST">-->
<!--        <button class="btn btn-danger">Удалить текущую конфигурацию балансира</button>-->
<!--    </form>-->
</body>
</html>