<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=320, user-scalable=no">
    <title>Ссылка на балансир</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <h3 class="col font-italic">Навесьте на эту ссылку QR-код</h3>
    <h2 class="col font-italic" th:text="${link}"></h2>
    <h3 class="col font-italic">Переходя по ней пользователи будут попадать на ваших ботов с учетом кол-ва пользователей на одного бота.</h3>
    <br>
    <form class="form-group col" th:action="@{/getConfig}" method="GET">
        <button class="btn btn-info">Текущая конфигурация балансира</button>
    </form>
    <br>
<!--    <a href="javascript:history.back()"><button class="col btn btn-primary">Вернуться назад</button></a>-->
    <div class="col">
        <button class="col-sm-1 btn btn-primary btn-sm" style="background-color: Aquamarine" ><a href="javascript:history.back()">Вернуться назад</a></button>
    </div>

</body>
</html>